* {
  font-family: Arial, sans-serif;
  margin: 0;
}
body,
body > div {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}
#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#container > div {
  display: flex;
}
#navbar, #footer {
  padding: 1em;
  justify-content: space-evenly;
  background-color: rgb(105, 246, 251);
  color: white;
  display: flex;
}
#main-section {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.red {
  background-color: #b05f6d;
  color: white;
}
.blue {
  background-color: #275db3;
  color: white;
}
.home {
  background-color: #f4a261;
  color: rgb(122, 235, 250);
}
.green {
  background-color: #2e8b57;
  color: white;
}